@model TowerSite.Models.Leaderboard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Leaderboard</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ELO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ELO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinearELO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinearELO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
